/* Write your style here */
h1 {
  text-align: center;
  font-size: 2.5em;
}

#bookList ul {
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

#bookList li {
  margin: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

#bookList li:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition:
    transform 0.2s,
    background-color 0.2s;
}
#bookList li {
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}
